/* This file is used to override the default design system styles */
:root {
  --ams-page-max-inline-size: 100rem; 
}

body,
html {
  padding: 0;
}

h2.ams-heading:has(+ div > table) {
  margin-block-end: 0.5em;
}

.ams-dialog h1 {
  font-size: var(--ams-heading-2-font-size);
}
