/* This file is used to override the default design system styles */
:root {
  --ams-page-max-inline-size: 100rem;
}

body,
html {
  padding: 0;
}

h2.ams-heading:has(+ div > table) {
  margin-block-end: 0.5em;
}

.ams-dialog h1 {
  font-size: var(--ams-heading-2-font-size);
}

.ams-accordion__panel {
  padding-block-end: 1rem;
}
.ams-accordion__panel .ams-unordered-list,
.ams-accordion__panel .ams-ordered-list {
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}

.ams-page-header__menu-link {
  display: flex;
}

/* PageHeader › mega menu tweaks */
.ams-page-header__mega-menu {
  margin-top: 1rem;
}
.ams-page-header__mega-menu .ams-link-list__link {
  display: inline-flex;
  font-size: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
}
.ams-page-header__mega-menu .ams-link-list__link > span {
  align-self: center;
}
.ams-page-header__mega-menu svg {
  width: 1.5em;
  height: 1.5em;
}

/* PageHeader › hide menu button on large screens */
@media screen and (min-width: 93rem) {
  .ams-page-header__mega-menu-button-item--hide-on-wide-window {
    display: none;
  }
}

/* PageHeader › show menu button and hide menu items except fixed and core items on medium screens */
@media screen and (max-width: 93rem) {
  .ams-page-header__mega-menu-button-item--hide-on-wide-window {
    display: block;
  }
  .ams-page-header__menu-item:not(.ams-page-header__menu-item--fixed):not(
      :has([data-core="true"])
    ) {
    display: none;
  }
}

/* PageHeader › hide menu items except fixed items on small screens */
@media screen and (max-width: 79.5rem) {
  .ams-page-header__menu-item:not(.ams-page-header__menu-item--fixed) {
    display: none;
  }
}
