.itemWrapper {
  position: relative;
  margin-bottom: 24px;
  padding-left: 40px;
}
.marker {
  position: absolute;
  left: -1px;
  width: 24px;
  height: 24px;
  background: #ccc;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.markerNote {
  background-color: var(--ams-color-interactive);
}
.iconWhite svg {
  color: white;
}

/* Content */
.itemContent {
  max-width: 600px;
}

/* Header */
.button {
  all: unset;
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
  padding-top: 2px;
  gap: 8px;
  border-bottom: 1px solid transparent;
}
.chevron {
  transition: transform 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chevronOpen {
  transform: rotate(180deg);
}

/* Collapsible Content */
.collapsibleContent {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 320ms cubic-bezier(0.4, 0, 0.2, 1);
}

.collapsibleOpen {
  grid-template-rows: 1fr;
}

/* alleen overflow hier */
.collapsibleInner {
  overflow: hidden;
  opacity: 0;
  transform: translateY(-2px);
  transition:
    opacity 200ms ease,
    transform 200ms ease;
  transition-delay: 80ms;
}

.divider {
  height: 1px;
  background-color: #e6e6e6;
  margin: 8px 0;
}

.collapsibleOpen .collapsibleInner {
  opacity: 1;
  transform: translateY(0);
}

.grid {
  display: grid;
  grid-template-columns: fit-content(300px) 1fr;
  gap: 8px 16px;
}

/* dit zorgt dat alle children direct in de grid vallen */
.row {
  display: contents;
}

.label {
  color: #666;
  word-break: break-word;
}
