.wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  margin-top: 2rem;
}

.withBorder {
  border-bottom: 1px solid #b4b4b4;
}

.icon {
  margin-right: 8px;
}

.icon svg {
  display: block;
}
